.three_tr
{
    float: left;
    width: 14%;
}
.three_tr button
{
    width: 53px;
    padding: 15px;
    background-color: #4472c8;
    border: 1px #305186 solid;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.float-right
{
    float: right;
}
.first_tr button
{
    width: 95.2%!important;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(0,155,0,0.8);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50px;
    font-size: 17px;
  }

  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 50px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }